[[local|localrc]]
# Default passwords
ADMIN_PASSWORD=password
MYSQL_PASSWORD=password
RABBIT_PASSWORD=password
SERVICE_PASSWORD=password
SERVICE_TOKEN=password


SCREEN_LOGDIR=/opt/stack/logs


HOST_IP={{ public_ip }}

{% if neutron %}
#
# Enable Neutron
#
# https://wiki.openstack.org/wiki/NeutronDevstack
disable_service n-net
enable_service q-svc
enable_service q-agt
enable_service q-dhcp
enable_service q-l3
enable_service q-meta
enable_service neutron
{% endif %}

{% if swift %}
# Enable Swift
enable_service s-proxy
enable_service s-object
enable_service s-container
enable_service s-account
{% endif %}


{% if not security_groups %}
# Disable security groups entirely
Q_USE_SECGROUP=False
LIBVIRT_FIREWALL_DRIVER=nova.virt.firewall.NoopFirewallDriver
{% endif %}

{% if not tempest %}
disable_service tempest
{% endif %}
